footer {
    padding: 20px;
    text-align: center;
    background-color: #eee;
}
.title {
    font: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 12px 0;
    color: #5e2195;
}
